html, body {
	font-family: Verdana,Microsoft YaHei, sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
	font-family: Verdana,Microsoft YaHei, sans-serif !important;
}


.w3-dropdown-click:hover > .w3-button:first-child{background-color:#000;color:#fff}

hr{
	border-color:#ddd;
}
.my_black{color:#fff!important;background-color:#242729!important}
.border_my_black{border-color:#242729!important}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes whitetoblack {
    from {color: white;}
    to {color: black;}
}

/* Standard syntax */
@keyframes whitetoblack {
     from {color: white;}
    to {color: black;}
}


.link_span{
	text-decoration: underline;
	padding:4px;
	cursor: pointer;
}
.link_span:hover{
	opacity:0.7;	
}

.pre-scrollable600 {
  max-height: 600px;
  overflow-y: scroll;
}

/* #mainPage .w3-panel:hover{ */
/* 	background-color:black !important; */
/* 	color:#fff !important; */
/* } */

#menu_user{
	right:0;
}

.myRWD_height{
	height:60px;	
}

.RWD_marginTop{
	margin-top:60px;
}

@media (max-width: 600px){
	.myRWD_height{
		height:100px;
	}
	.RWD_marginTop{
		margin-top:100px;
	}
}

@media (max-width: 520px){
	.myRWD_height{
		height:150px;
	}
	.RWD_marginTop{
		margin-top:150px;
	}
}

.img_remove{
	
	padding:5px 10px 5px 10px;
}
.img_remove:hover{
	cursor:pointer;
	background-color:rgba(0,0,0,.11);
}

.mainfooter{
	color:#fff !important;
/*  	background-color:#ff9800 !important;  */
/*  	background-color:#242729 !important;  */
	background-color:black;
 	bottom: 0; 
}

@media (max-height: 800px){
	.mainfooter{
	 	position: relative; 
	 	bottom: none; 
 	}
}

body{
	background-color:#f5f5f5;	
}

input:focus, textarea:focus, select:focus {
    outline-offset: -2px;
    outline: none;
    background-color:#fffeee;
}

b{
	font-size: 16px!important;
}

.w3-tag{
/* 	border-radius: 10px; */
}
.myPagelink{
/* 	border-radius: 10px; */
}
.w3-dropdown-content{
	padding:10px;
	border-radius: 10px;
}

.w3-hover-white:hover{
	color:rgba(0,0,0,.66) !important;
}

.activeTablink{
	border-bottom:6px solid #2196F3 !important;
/* 	color:#2196F3 !important; */
}

.activeTablink:hover{
	border-bottom:6px solid #2196F3 !important;
/* 	color:#2196F3 !important; */
}

#topBar{
	padding-top:8px;
}

.li_postitem:hover{
	cursor:pointer;
	background-color:#ddd;
}

.li_postitem:active{
	cursor:pointer;
	background-color:black;
	color:white;
}
